* {
  margin: 0px;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
}

.errorMsg {
  text-align: center;
  margin-top: 20vh;
}

.moveRight {
  margin-left: 45vw;
}

.headline {
  height: 20vh;
  text-align: center;
  margin-top: 50px;
  animation: zoomInOut 5s infinite;
}

li,
a,
button {
  text-decoration: none;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  margin: 0px 5px;
  border: 1px #ffffff solid;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.nav_links li a:hover {
  color: #85929e;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

@keyframes zoomInOut {
  0% {
    font-size: 25px;
  }
  50% {
    font-size: 30px;
  }
  100% {
    font-size: 25px;
  }
}

.subtitle {
  text-align: center;
  margin-bottom: 5px;
}

.registerInput {
  margin: auto;
  margin-bottom: 10px;
  width: 40%;
  padding: 5px;
  display: flex;
}

.errorMessage {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.inputClass {
  padding: 5px;
  margin: 5px;
}

.autocompleteList {
  cursor: pointer;
  padding: 2px;
  margin-right: 27vw;
}

.sleepClass {
  padding: 5px;
  margin-top: 15vh;
  width: 50%;
}

.textTop {
  text-align: center;
}

.timeWasteBar {
  border: #ffffff 5px solid;
  width: 720px;
  height: 50px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.percentage {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  height: 100%;
  background-color: white;
}

.barTotal {
  text-align: center;
}

.sleepQuestion {
  text-align: center;
}

.wastedActivities {
  margin-top: 30px;
  text-align: center;
}

.wastedActivitiesSubmit {
  margin-top: 30px;
  text-align: center;
}
